<%- include("../partials/html-head.ejs") %>
  <link rel="stylesheet" href="/css/game/index.css">
  <div class="container-fluid d-flex justify-content-center align-items-center" style="height:100vh">
    <div class="d-none d-lg-block col-2 h-100">
      <div class="d-flex m-3">
        <card class="card">
          <img src="\images\animals\artic_fox.jpg" class="card-img-top" alt="arctic fox lmao ">
          <div class="card-body">
            <h5 class="card-title">Support the arctic foxes!</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </card>
      </div>
      <img src="\images\PNG\9.png" alt="">
    </div>
    <div class="col-md-8 col-sm-12 h-100">
      <form action="/game/results">
        <h1 style="width: 100%;" class="text-center my-3">CARBON SCORE CALCULATOR</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa hic temporibus natus labore cumque sint
          sapiente, blanditiis facere reprehenderit nesciunt? Debitis nisi cum totam voluptatum error aliquam cupiditate
          eum dolorem.
          Possimus modi sequi ipsum itaque animi asperiores delectus ea repudiandae voluptas pariatur maiores et
          recusandae at facilis inventore error esse explicabo aliquid illo iste necessitatibus, alias similique
          laboriosam. Maxime, nulla.</p>
        <% for(const question of questionsData.questions) { %>
          <card class="card p-2 m-2 questionCard my-3" id="qc<%-question.id%>" style="width:100%">
            <i>Question <%-question.id%> / 25</i>
            <h4><%-question.question%></h4>
            <% for( let i=0; i < question.options.length; i++ ) { %>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="<%-question.id%>" id="q<%-question.id%>_<%-i%>"
                  required value="<%-i%>">
                <label class="form-check-label" for="q<%-question.id%>_<%-i%>">
                  <%-question.options[i].option%>
                </label>
              </div>
              <% } %>

          </card>

          <% } %>
            <button class="btn btn-primary m-2 w-25 align-self-end" id="move-on">Next</button>

            <card id="final-submit-card" name="final-submit-card">
              <h3>You have finished the test.</h3>
              <p>Click the button below to reveal your worked-out carbon score, ranging from 0 to 1000.</p>
              <p>The higher the score, the better your carbon footprint is, with 1000 being the best possible score.</p>
              <p>Remember, this is only a simple test and there are always ways to improve and critisize carbon usage -
                you can always better the environment around by making simple changes.</p>
              <p>Good luck!</p>
              <i>Click below for results</i>
              <button class="btn btn-success btn-lg d-block m-2" id="final-submit-button">Submit</button>
            </card>
      </form>
      <br><br><br>
      <h2>About the test</h2>
      <p>The issue of climate change has become a pressing concern in the modern era, with the threat of rising
        temperatures and
        extreme weather events looming over us. The carbon footprint is one of the most significant contributors to
        greenhouse
        gas emissions, which are a leading cause of global warming. To tackle this issue, there has been a growing
        interest in
        assessing individual carbon footprints, and a carbon footprint test can be an effective tool to achieve this.
      </p>
      <p>One such carbon footprint test is a comprehensive 25-question assessment that aims to provide an accurate
        measure of an
        individual's carbon footprint. The questions in the test are designed to cover a wide range of areas, including
        energy
        consumption, transportation, food and diet, and waste disposal. Each question in the test is carefully crafted
        to assess
        the carbon footprint of a specific activity or behavior, and the answers provided by the test-taker are used to
        calculate an overall score.</p>
      <p>The scoring system of this carbon footprint test is based on a scale of 1 to 1000, where a score of 1000 is
        indicative
        of a minimal carbon footprint and a score of 0 is reflective of a very high carbon footprint. The questions in
        the test
        are weighted to reflect the relative importance of different activities in contributing to carbon emissions. For
        instance, questions on transportation may carry a higher weight than those on food consumption, given the
        significant
        impact of transportation on carbon emissions.</p>
      <p>To take the test, individuals must answer each question honestly and accurately. The questions may require some
        research
        or reflection on the individual's habits and behaviors, and it is essential to answer them as truthfully as
        possible.
        Once all questions are answered, the score is generated, and a comprehensive report is provided, outlining the
        individual's carbon footprint, along with recommendations on how to reduce it.</p>
      <p>In conclusion, the carbon footprint test is a complex and comprehensive assessment that provides an accurate
        measure of
        an individual's carbon footprint. With its sophisticated algorithm and careful weighting of questions, the test
        provides
        an insightful analysis of an individual's carbon footprint, along with practical recommendations on how to
        reduce it. By
        taking the test and acting on its recommendations, individuals can play their part in addressing the issue of
        climate
        change and reducing their impact on the environment.</p>

    </div>
    <div class="d-none d-lg-block col-2 h-100">
      <img src="\images\PNG\3.png" alt="">
      <div class="d-flex">
        <card class="card">
          <img src="\images\animals\elephant.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Donate to the Elephant Trust</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </card>
      </div>
    </div>
  </div>
  <script>
    let currentQuestionIndex = 1
    const updateElements = () => {
      for (const questionCard of document.getElementsByClassName("questionCard")) {
        if (parseInt(questionCard.id.slice(2)) != currentQuestionIndex) {
          questionCard.style.display = "none"
        }
        if (parseInt(questionCard.id.slice(2)) == currentQuestionIndex) {
          questionCard.style.display = "flex"
        }
      }
      const submitButton = document.querySelector("#final-submit-card")
      const nextButton = document.querySelector("#move-on")
      if (currentQuestionIndex <= 25) {
        nextButton.style.display = "block"
        submitButton.style.display = "none"

      } else {
        nextButton.style.display = "none"
        submitButton.style.display = "block"
      }
    }
    updateElements()
    document.getElementById("move-on").addEventListener("click", function (event) {
      event.preventDefault()
      const radioButtons = document.querySelectorAll(`input[name="${currentQuestionIndex}"]`);
      let valid = false
      for (const radioButton of radioButtons) {
        if (radioButton.checked) {
          valid = true
        }
      }
      if (valid) {
        currentQuestionIndex += 1
        updateElements()
      }
    });




  </script>


  <%- include("../partials/html-foot.ejs") %>